* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
button, a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
}


html, body{
    font-family: "Raleway", serif;
    scroll-behavior: smooth; 
}

input, textarea {
    all: unset; 
    background-color: white;
}

  

body{
    background-color: rgb(17, 17, 17);
    
}

body::before{
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        135deg,
        #1a112c 0%, 
        #1a112c 1%,
        rgb(17, 17, 17) 100%);
}

