
.border-solid-normal-purple-1 {
    border: 1px solid var(--normal-purple);
}

.border-solid-normal-purple-2 {
    border: 2px solid var(--normal-purple);
}

.border-solid-light-purple-1 {
    border: 1px solid var(--light-purple);
}

.border-solid-light-purple-2 {
    border: 2px solid var(--light-purple);
}

.border-solid-light-purple-dark-1 {
    border: 1px solid var(--light-purple-dark);
}

.border-solid-normal-emerald-1 {
    border: 1px solid var(--emerald);
}

.border-solid-normal-emerald-light-1 {
    border: 1px solid var(--emerald-light-2);
}

.border-solid-transparent-1 {
    border: 1px solid transparent;
}

.border-solid-white-1{
    border: 1px solid white;
}

.border-radius-1{
    border-radius: 4px;
}

.border-radius-2{
    border-radius: 8px;
}

.border-radius-3{
    border-radius: 12px;
}

.border-radius-4{
    border-radius: 16px;
}

.border-radius-md-4{
    border-radius: 16px;
}

.border-radius-5{
    border-radius: 20px;
}

.border-radius-6{
    border-radius: 24px;
}

.border-radius-100p{
    border-radius: 100%;
}

.border-radius-top-1{
    border-radius: 4px 4px 0px 0px;
}

.border-radius-top-2{
    border-radius: 8px 8px 0px 0px;
}

.border-radius-top-3{
    border-radius: 12px 12px 0px 0px;
}

.border-radius-top-4{
    border-radius: 16px 16px 0px 0px;
}


.border-radius-top-5{
    border-radius: 20px 20px 0px 0px;
}

.border-radius-top-6{
    border-radius: 24px 24px 0px 0px;
}



/*BOXSHADOW*/

.box-shadow-white-0-0-5{
    box-shadow: 0 0 5px white;
}

.box-shadow-dark-purple-light-0-0-15{
    box-shadow: 0 0 15px var(--dark-purple-light);
}

.box-shadow-light-purple-0-0-20{
    box-shadow: 0 0 20px var(--light-purple);
}

/*CHATGPT TRICK XD*/
.bright-border {
    border: 1px solid var(--light-purple);
    border-radius: 100%;
    box-shadow: 0 0 10px var(--light-purple);
    animation: pulse 1s infinite alternate ease-in-out;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 5px var(--light-purple);
    }
    100% {
        box-shadow: 0 0 10px var(--light-purple), 0 0 25px var(--light-purple);
    }
}



@media (max-width: 568px){
    .border-radius-md-4{
        border-radius: 8px;
    }
}