
/* DISPLAY */
.d-flex {
    display: flex;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

/*FLEX SHRINK*/
.flex-shrink-0{
    flex-shrink: 0;
}

.flex-shrink-1{
    flex-shrink: 1;
}

/*FLEX GROW*/
.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

/*FLEX BASIS*/
.flex-basis-600{
    flex-basis: 600px;
}
/* FLEX WRAP */
.flex-wrap {
    flex-wrap: wrap;
}


/* FLEX DIRECTION */
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


/* JUSTIFY CONTENT */
.justify-content-center {
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

/*ALIGN ITEMS*/
.align-items-center {
    align-items: center;
}


/* POSITION */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/*Z-INDEX*/
.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 3;
}

.z-index-4{
    z-index: 4;
}

.z-index-999{
    z-index: 999;
}

/* OVERFLOW */
.overflow-hidden{
    overflow: hidden;
}

/* BACKGROUNDS */
.bg-normal-purple {
    background-color: var(--normal-purple);
}

.bg-dark-purple {
    background-color: var(--dark-purple);
}

.bg-dark-purple-dark {
    background-color: var(--dark-purple-dark);
}

.bg-ligth-purple{
    background-color: var(--light-purple);
}

.bg-ligth-brown{
    background-color: var(--ligth-brown);
}

.bg-emerald {
    background-color: var(--emerald);
}

.bg-emerald-dark {
    background-color: var(--emerald-dark);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grey-light {
    background-color: var(--grey-light);
}

.bg-black-transparent {
    background-color: var(--dark-hover);
}

.bg-lavanda-light {
    background-color: var(--lavanda-light);
}

.bg-lavanda-dark {
    background-color: var(--lavanda-dark);
}

.bg-gradint-purple-to-emerald{
    background: linear-gradient(
                145deg, 
                var(--dark-purple-dark) 0%, 
                var(--dark-purple-dark) 80%, 
                var(--dark-purple-green-1) 100%
            );
}

.bg-gradint-emerald-dark-to-purple{
    background: linear-gradient(
                160deg, 
                var(--dark-purple-green-1) 0%, 
                var(--dark-purple-green-1) 80%, 
                var(--dark-purple-green-2) 100%
            );
}


.test-test-1, .test-test-2, .test-test-3, .test-test-4 {
    position: relative;
    overflow: hidden;
  }
  
  .test-test-1::before, .test-test-2::before, .test-test-3::before, .test-test-4::before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40%; /* Adjust for each class */
    background: linear-gradient(360deg, var(--light-purple) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0.5;
    transition: height 1s, opacity 1s, box-shadow 1s;
  }
  
  .test-test-2::before { height: 60%; }
  .test-test-3::before { height: 90%; }
  .test-test-4::before { height: 100%; }

/*OBJECT FIT*/
.object-fit-scale-down {
    object-fit: scale-down;
}

.object-fit-cover {
    object-fit: cover;
}


/*FILTERS*/
.filter-invert-100{
    filter: invert(100%)
}


