
/* DISPLAY */
.d-flex {
    display: flex;
}

.d-block{
    display: block;
}

.d-none{
    display: none;
}

/*FLEX SHRINK*/
.flex-shrink-0{
    flex-shrink: 0;
}

.flex-shrink-1{
    flex-shrink: 1;
}

/*FLEX GROW*/
.flex-grow-0{
    flex-grow: 0;
}

.flex-grow-1{
    flex-grow: 1;
}

/*FLEX BASIS*/
.flex-basis-100p{
    flex-basis: 100%;
}

.flex-basis-0{
    flex-basis: 0;
}

.flex-basis-600{
    flex-basis: 600px;
}

.flex-basis-400{
    flex-basis: 400px;
}

.flex-basis-368{
    flex-basis: 368px;
}

.flex-basis-350{
    flex-basis: 350px;
}

.flex-basis-330{
    flex-basis: 330px;
}

.flex-basis-300{
    flex-basis: 300px;
}
/* FLEX WRAP */
.flex-wrap {
    flex-wrap: wrap;
}

/* ORDER */
.flex-order-0{
    order: 0;
}

.flex-order-1{
    order: 1;
}

.flex-order-2{
    order: 2;
}

/* FLEX DIRECTION */
.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}


/* JUSTIFY CONTENT */
.justify-content-center {
    justify-content: center;
}

.justify-content-space-between{
    justify-content: space-between;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

/*ALIGN ITEMS*/
.align-items-center {
    align-items: center;
}


/* POSITION */
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.position-fixed {
    position: fixed;
}

/*Z-INDEX*/
.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 3;
}

.z-index-4{
    z-index: 4;
}

.z-index-999{
    z-index: 999;
}

/* OVERFLOW */
.overflow-hidden{
    overflow: hidden;
}

.overflow-y-scroll{
    overflow-y: scroll;
}

/* BACKGROUNDS */
.bg-normal-purple {
    background-color: var(--normal-purple);
}

.bg-dark-purple {
    background-color: var(--dark-purple);
}

.bg-dark-purple-dark {
    background-color: var(--dark-purple-dark);
}

.bg-dark-purple-light {
    background-color: var(--dark-purple-light);
}

.bg-ligth-purple {
    background-color: var(--light-purple);
}

.bg-emerald {
    background-color: var(--emerald);
}

.bg-emerald-dark {
    background-color: var(--emerald-dark);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grey-light {
    background-color: var(--grey-light);
}

.bg-black-transparent {
    background-color: var(--dark-hover);
}

.bg-black-solid {
    background-color: var(--dark-hover-solid);
}

.bg-lavanda-light {
    background-color: var(--lavanda-light);
}

.bg-lavanda-dark {
    background-color: var(--lavanda-dark);
}

.bg-gradint-purple-to-emerald{
    background: linear-gradient(
                145deg, 
                var(--dark-purple-dark) 0%, 
                var(--dark-purple-dark) 80%, 
                var(--dark-purple-green-1) 100%
            );
}

.bg-gradint-emerald-dark-to-purple{
    background: linear-gradient(
                160deg, 
                var(--dark-purple-green-1) 0%, 
                var(--dark-purple-green-1) 80%, 
                var(--dark-purple-green-2) 100%
            );
}

.bg-gradint-dark-purple-dark-90 {
    background: linear-gradient(
                90deg, 
                var(--dark-purple) 0%, 
                var(--dark-purple) 80%, 
                transparent 100%
            );
}

.bg-gradint-normal-purple-lighter-90 {
    background: linear-gradient(
                90deg, 
                var(--light-purple-light) 0%, 
                var(--light-purple-light) 20%, 
                transparent 100%
            );
            
}

.bg-gradint-dark-purple-dark-270{
    background: linear-gradient(
                270deg, 
                var(--dark-purple) 0%, 
                var(--dark-purple) 80%, 
                transparent 100%
            );
}

.bg-gradint-normal-purple-lighter-270{
    background: linear-gradient(
                270deg, 
                var(--light-purple-light) 0%, 
                var(--light-purple-light) 20%, 
                transparent 100%
            );
            
}


.bg-overflow-modal {
    background-color: #19001be6;
}

/*OBJECT FIT*/
.object-fit-scale-down {
    object-fit: scale-down;
}

.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}


/*FILTERS*/
.filter-invert-100{
    filter: invert(100%)
}

/* ASPECT-RATIO */

.aspect-ratio-16-9{
    aspect-ratio: 16 / 9;
}

/*XXL*/
@media (max-width: 1300px){
    .justify-lg-content-center{
        justify-content: center;
    }
}


/*LG*/
@media (max-width: 1024px){
    .flex-lg-column {
        flex-direction: column;
    }
}

/*MD*/
@media (max-width: 768px){
    
}

/*SM*/
@media (max-width: 568px){
    
}