
/* WIDTH */
.w-fit-content{
    width: fit-content;
}

.w-100{
    width: 100%;
}

.w-90{
    width: 90%;
}

.w-80{
    width: 80%;
}

.w-70{
    width: 70%;
}

.w-200px{
    width: 200px;
}


/*MAX-WIDTH*/

.max-w-300{
    max-width: 300px;
}

.max-w-330{
    max-width: 330px;
}

.max-w-lg-330{
    max-width: 330px;
}

.max-w-350{
    max-width: 350px;
}


.max-w-500{
    max-width: 500px;
}


.max-w-600{
    max-width: 600px;
}

.max-w-700{
    max-width: 700px;
}


.max-w-900{
    max-width: 900px;
}

.max-w-1250{
    max-width: 1250px;
}

.max-w-1650{
    max-width: 1650px;
}

.max-w-1700{
    max-width: 1700px;
}

.max-w-200{
    max-width: 200px;
}

.max-w-lg-600-500{
    max-width: 600px;
}

/* HEIGHT */
.min-h-100vh{
    min-height: 100vh;
}

.h-auto{
    height: auto;
}

.h-min-content{
    height: min-content;
}

.h-100{
    height: 100%;
}

.h-90{
    height: 90%;
}

.h-80{
    height: 80%;
}

.h-70{
    height: 70%;
}

.h-60{
    height: 60%;
}

.h-0{
    height: 0%;
}

.h-50{
    height: 50%;
}

.max-h-300{
    max-height: 300px;
}

.max-h-lg-300{
    max-height: 300px;
}


.max-h-600{
    max-height: 600px;
}

.max-h-lg-600{
    max-height: 600px;
}

.h-300{
    height: 300px;
}

.h-600{
    height: 600px;
}

.h-lg-300px{
    height: 300px;
}

.min-h-366{
    min-height: 366px;
}

.min-h-250{
    min-height: 250px;
}

.min-h-38 {
    min-height: 38px;
}

.min-h-35 {
    min-height: 35px;
}

/*XL*/
@media (max-width: 1024px){
    .min-h-366{
        min-height: auto;
    }
}

/*LG*/
@media (max-width: 768px){
    .h-lg-300px{
        height: 150px;
    }

    .max-w-lg-600-500{
        max-width: 500px;
    }

    .max-w-lg-330{
        max-width: 230px;
    }

    .max-h-lg-300{
        max-height: 240px;
    }

    .max-h-lg-600{
        max-height: 700px;
    }
}

