.container-img-flag{
    width: 62px;
    height: 41px;
}

.container-img-flag img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-flag:hover{
    opacity: .6;
    transition: all .3s;
}

.container-img-flag:active img{
    transform: scale(.8);
    opacity: .3;
    transition: all .1s;
}

.exit-btn{
    width: 70px;
    height: 50px;
}


.img-step-three{
    width: 120px;
    height: 120px;
}

.img-step-three img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-tech{
    width: 64px;
    height: 64px;
}

.container-project-img-card{
    width: 100%;
    height: 150px;
}

.flag-icon-page{
    width: 35px;
    height: 35px;
}

.flag-icon-page:hover{
    box-shadow: 0 0 10px var(--emerald);
}

.flag-icon-page:hover > p{
    opacity: 1;
    transition: all .5s;
}




@media (hover: hover) {
    .container-tech:hover{
        border: 1px solid var(--lavanda-light);
        box-shadow: 0 0 10px var(--lavanda-light);
        transform: scale(1.1);
        
    }

    .img-tech:hover{
        transform: rotate(10deg) ;
    }
}

.techs-card-btn:hover > .inner-tech-card {
    display: flex !important;
}


.tech-project{
    width: 35px;
    height: 35px;
}



.card-project:hover{
    box-shadow: 0 0 10px var(--light-purple-light);
    transform: translateY(-10px);
    
}



.img-about-me{
    max-width: 400px;
    max-height: 400px;
    order: 1;
}
  

.description-container {
    order: 0;
}


.anchor-container{
    order: 2;
}


/*XL*/
@media (max-width: 1300px){

}

/*LG*/
@media (max-width: 1024px){
    .description-container {
        order: 1;
    }

    .img-about-me{
        order: 0;
    }
}

/*MD*/
@media (max-width: 768px){
    .img-step-three{
        width: 100px;
        height: 100px;
    }

    .container-project-img-card{
        width: 100%;
        height: 100px;
    }
}

/*MD*/
@media (max-width: 568px){
    .exit-btn{
        width: 25px;
        height: 25px;
    }

    .exit-btn .material-symbols-outlined{
        font-size: 10px;
    }

    .container-tech{
        width: 42px;
        height: 42px;
    }

    .size-modal{
        max-width: 300px;
    }

    .img-about-me{
        max-width: 250px;
        max-height: 250px;
    }
}


/*SM*/
@media (max-width: 440px){
    
}